.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.icon--XS {
  width: 16px;
  height: 16px;
}
.icon--S {
  width: 20px;
  height: 20px;
}
.icon--M {
  width: 24px;
  height: 24px;
}
.icon--L {
  width: 28px;
  height: 28px;
}
.icon--XL {
  width: 32px;
  height: 32px;
}
.icon--2XL {
  width: 36px;
  height: 36px;
}
.icon--3XL {
  width: 40px;
  height: 40px;
}

.icon--clickable {
  cursor: pointer;
}
