@import "../../../app/breakpoints.scss";

.project-details {
  display: flex;
  flex-direction: column;
}

.project-details__return-btn {
  padding: unset;
}

@media screen and (min-width: $breakpoint-small) {
}

@media screen and (min-width: $breakpoint-medium) {
}
