@import "./breakpoints.scss";

.layout {
  position: relative;
}

.layout__children {
  margin-top: 58px;
  background-color: var(--background-neutral-lowest);
  overflow: hidden;
  min-height: 100vh;
}

@media screen and (min-width: $breakpoint-medium) {
  .layout__children {
    margin-top: 96px;
  }
}
